<!DOCTYPE html>
<html>
<head>
  <title>Railway</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p id="notice"><%= notice %></p>
	<%= yield %>
	<!-- I do not understand what this is doing at all -->

</body>
</html>
